<?xml version="1.0"?>
<config>
    <modules>
        <Codilar_Custom>
            <version>1.0.0</version>
        </Codilar_Custom>
    </modules>
    <frontend>
        <routers>
            <codilarcustom>
                <use>standard</use>
                <args>
                    <module>Codilar_Custom</module>
                    <frontName>codilarcustom</frontName>
                </args>
            </codilarcustom>
        </routers>
        <layout>
            <updates>
                <codilar_custom module="Codilar_Custom">
                    <file>codilar/custom.xml</file>
                </codilar_custom>
            </updates>
        </layout>
        <category>
            <collection>
                <attributes>
                    <icon_code /><!-- your attribute code here -->
                </attributes>
            </collection>
        </category>
    </frontend>
    <global>
        <blocks>
            <codilar_custom>
                <class>Codilar_Custom_Block</class>
            </codilar_custom>
        </blocks>
        <page>
            <layouts>
                <home_page_layout>
                    <label>Home Page Layout</label>
                    <template>page/home.phtml</template>
                </home_page_layout>
            </layouts>
        </page>
        <resources>
            <codilarcustom_setup>
                <setup>
                    <module>Codilar_Custom</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codilarcustom_setup>
            <codilarcustom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codilarcustom_write>
            <codilarcustom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codilarcustom_read>
        </resources>
    </global>
</config>