<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Ajaxcart>
            <version>0.2.1</version>
        </Magestore_Ajaxcart>
    </modules>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Magestore_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Ajaxcart>
                    <files>
                        <default>Magestore_Ajaxcart.csv</default>
                    </files>
                </Magestore_Ajaxcart>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>catalogProductView</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartAdd</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <controller_action_predispatch_catalog_product_compare_add>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>compareProductAdd</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_catalog_product_compare_add>
            <controller_action_predispatch_catalog_product_compare_clear>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>compareProductClear</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_catalog_product_compare_clear>
            <controller_action_predispatch_catalog_product_compare_remove>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>compareProductRemove</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_catalog_product_compare_remove>
            <controller_action_predispatch_wishlist_index_add>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>wishlistProductAdd</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_wishlist_index_add>
            <controller_action_predispatch_wishlist_index_remove>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>wishlistProductRemove</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_wishlist_index_remove>
            <controller_action_predispatch_checkout_cart_delete>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartDelete</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_delete>
            <controller_action_predispatch_checkout_cart_configure>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartConfigure</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_configure>
            <controller_action_predispatch_checkout_cart_updateItemOptions>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartUpdateItemOptions</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_updateItemOptions>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartIndex</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_cart_updatePost>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartUpdatePost</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_updatePost>
            <controller_action_predispatch_checkout_cart_estimateUpdatePost>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartEstimateUpdatePost</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_estimateUpdatePost>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartCouponPost</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_checkout_cart_estimatePost>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>checkoutCartEstimatePost</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_checkout_cart_estimatePost>
            <controller_action_predispatch_wishlist_index_cart>
                <observers>
                    <ajaxcart_observers>
                        <type>singleton</type>
                        <class>ajaxcart/observer</class>
                        <method>wishlistIndexCart</method>
                    </ajaxcart_observers>
                </observers>
            </controller_action_predispatch_wishlist_index_cart>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Magestore_Ajaxcart>
                    <files>
                        <default>Magestore_Ajaxcart.csv</default>
                    </files>
                </Magestore_Ajaxcart>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <ajaxcart>
                <class>Magestore_Ajaxcart_Model</class>
            </ajaxcart>
        </models>
        <blocks>
            <ajaxcart>
                <class>Magestore_Ajaxcart_Block</class>
            </ajaxcart>
            <wishlist>
                <rewrite>
                    <customer_sidebar>Magestore_Ajaxcart_Block_Sidebar</customer_sidebar>
                </rewrite>
            </wishlist>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Magestore_Ajaxcart_Helper</class>
            </ajaxcart>
            <checkout>
                <rewrite>
                    <cart>Magestore_Ajaxcart_Helper_Cart</cart>
                </rewrite>
            </checkout>
            <catalog>
                <rewrite>
                    <product_compare>Magestore_Ajaxcart_Helper_Product_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>
    </global>
    <default>
        <ajaxcart>
            <general>
                <enable>1</enable>
                <cart>1</cart>
                <pre_load_ajax>1</pre_load_ajax>
                <allow_animation>1</allow_animation>
                <animation_target>0</animation_target>
                <auto_scroll>1</auto_scroll>
                <template>default</template>
            </general>
            <confirmation>
                <enable>1</enable>
                <count_down>30</count_down>
                <related>1</related>
                <cross_sell>0</cross_sell>
                <up_sell>0</up_sell>
                <maximum>3</maximum>
            </confirmation>
            <product>
                <bundle>ajaxcart/product_bundle</bundle>
                <giftvoucher>ajaxcart/product_giftvoucher</giftvoucher>
                <grouped>ajaxcart/product_grouped</grouped>
                <configurable>ajaxcart/product_configurable</configurable>
                <minicart>0</minicart>
            </product>
        </ajaxcart>
        <ajaxcart_template>
            <default>
                <label>Default Template</label>
            </default>
            <modern>
                <label>Modern Template</label>
                <folder>modern</folder>
                <screenshot>modern.png</screenshot>
            </modern>
        </ajaxcart_template>
    </default>
</config>